*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    width: 100%;
    list-style-type: none;
    
    display: flex;
}
ul li{
    border-radius: 20px;
    border: 2px solid rgb(185, 160, 160);
}
ul >li>a:hover{
    border-radius: 20px;
    border: 2px solid lightblue;
    background-color: lightblue;
}
ul>li>a{
    text-decoration: none;
    display: block;
    min-width: 120px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
ul>:nth-child(6){
    margin-left: auto;
}

#logo{
    width: 100%;
    
}

div>h1{
    
    text-align: center;
    padding: 50px;
    font-size: 70px;
    animation: doimauchu ease 2s infinite;
    
   
}
@keyframes doimauchu {
    from {color:#8860d0;}
    to {color:#5680e9;}
}
#haha{
    width: 80%;
    margin: 0 auto;
}

#haha>.hu{
   
}
footer{
    width: 100%;
    
    margin-top: 20px;
   
}
#footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
    padding-top: 20px;
}
#hinhanh{
    margin-left: 5px;
    height: 100px;
    width: 200px;
}
.input{
    padding: 7px 150px 7px  7px;
    margin-top:5px;
}
#dangki{
   padding: 5px;
   margin-top: 5px;
  
   float: right;
   border-radius: 5px;
}
#email{
    display: flex;
}
#email>h4{
    
    font-size: 20px;
}
body {
   
    background-image: url("images/br.jpg");
    background-repeat: no-repeat;
    background-size: 3000px 1000px;
}